In [130]:
import pandas as pd

In [190]:
df = pd.read_csv("test.csv", sep=" ", header=None )

In [191]:
del(df[1])
del(df[3])

In [192]:
df.columns = ['model', 'k', 'acc']

In [216]:
df.loc[df['acc'] == df.loc[df['model'] == 'model3:'].acc.max()].head(1)

      model  k    acc
11  model3:  3  0.739

In [212]:
df.loc[df['acc'] == df.loc[df['model'] == 'model2:'].acc.max()].head(1)

       model   k    acc
415  model2:  13  0.598

In [208]:
df.loc[df['acc'] == df.loc[df['model'] == 'model3:'].acc.max()].head(1)

      model  k    acc
11  model3:  3  0.739